<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dignity</title>
</head>
<body>

{% if job %}
    <h2>{{ job.name }}</h2>
    People offering to do this job:

    <ul>
    {% for worker in job.workers.all %}
        <li><a href="/people/{{ worker.person.id }}/">{{ worker.person.get_full_name }}</a></li>
    {% endfor %}
    </ul>


    People requesting this job to be done:

    <ul>
    {% for hirer in job.hirers.all %}
        <li><a href="/people/{{ hirer.person.id }}/">{{ hirer.person.get_full_name }}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <p>Couldn't find this job.</p>
{% endif %}
</body>
</html>