{% extends "dignity_platform/base_template.html" %}
{% block title %}Causes{% endblock %}

{% block header_content %}<h1>Jobs</h1>{% endblock %}
{% block content %}

{% if some_jobs %}

    <section id="jobs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tasks</h2>
                    <hr class="primary">
                       <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#supporting-modal">+</button>

  <!-- Modal -->
  <div class="modal fade" id="supporting-modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Job Type</h4>
        </div>
        <div class="modal-body">
          <p>
              <form method="POST" action="">
                {% csrf_token %}
                {{job_form.as_p}}
                <input type="submit">
            </form>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

    {% for job in some_jobs %}
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/jobs/{{ job.id }}/">
                        <i class="fa fa-4x fa-cog wow bounceIn text-primary"></i>
                        <h3>{{ job.name }}</h3>
                        <p class="text-muted">{{ job.info }}.</p>
                            </a>
                    </div>
                </div>


    {% endfor %}
                </div>
        </div>
    </section>


{% else %}
    <p>No jobs are available.</p>
{% endif %}

{% endblock %}
