<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dignity</title>
</head>
<body>
{% if person %}
    <h2>{{ person.first_name }} {{ person.last_name }}</h2>


    Work this person is offering to do:

    <ul>
    {% for task in person.jobs_i_will_do.all %}
        <li><a href="/jobs/{{ task.job.id }}/">{{ task.job.name }}</a></li>
    {% endfor %}
    </ul>


    Work this person wants done:

    <ul>
    {% for task in person.jobs_i_want_done.all %}
        <li><a href="/jobs/{{ task.job.id }}/">{{ task.job.name }}</a></li>
    {% endfor %}
    </ul>


    Causes this person Supports:

    <ul>
    {% for sup in person.causes_i_support.all %}
        <li><a href="/causes/{{ sup.cause.id }}/">{{ sup.cause.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Couldn't find this person.</p>
{% endif %}
</body>
</html>